[2017-01-19 15:26] KeyTals opened #1 "Cobine the differnt fusion results"
Hi Stian,

Is it possible to combine the results of different fusion software in chimraviz then generate just one The fusion report report.

 i.e.  if i ran two fusion software (Ericscript and Fusion catcher), i can import these using the importEricscript() and importFusioncatcher() but i would like to combine these tow objects first then create the html fusion report.

Thanks,
Keyur

[2017-03-10 16:40] llrs opened #2 "Vignette levels of toc"
When I visualize the [vignette](https://bioconductor.org/packages/devel/bioc/vignettes/chimeraviz/inst/doc/chimeraviz-vignette.html) the section 3.2.1.5 is not shown in the TOC:

You should set the level of depth of the TOC at the yaml header if you want it to be formatted as such
[code]

[2017-03-17 20:45] stianlagstad commented on #1
I'm terribly sorry for my late response - I had turned off email notifications here.

Since the import functions returns lists of Fusion objects, you can combine the lists and create a report from the combined list. Like this:

[code]

[2017-03-17 20:51] stianlagstad commented on #2
Thank you for the tip @llrs, but I'll think the TOC looks nice as it is. :)

[2017-03-23 08:06] #2 closed, assigned to stianlagstad

[2017-03-23 08:07] stianlagstad commented on #1
Closing this. Let me know if you have any issues :)

[2017-03-23 08:07] #1 closed, assigned to stianlagstad

[2017-03-27 13:21] jorainer opened #3 "heads-up for filter classes being removed from ensembldb"
The filter classes will move from the `ensembldb` package to a new package `AnnotationFilter` (https://github.com/Bioconductor/AnnotationFilter). This package is not yet in Bioconductor, but once it is (hopefully soon) I will remove the filter classes from the `ensembldb` package.

I checked your package and all you will have to do seems to be to inport the `GeneIdFilter` (has been renamed from `G

[2017-03-28 06:09] stianlagstad commented on #3
Thank you for heads up, @jotsetung! I'll adress this early next week at the latest.

[2017-03-28 06:23] jorainer commented on #3
I'll have to wait anyway for the `AnnotationFilter` to be accepted (hope that this happens any day now). I'll let you know before I push the changes. In case I could also fork `chimeraviz`, fix it and make a pull request.

[2017-04-02 16:58] jorainer commented on #3
@stianlagstad , `AnnotationFilter` package is now in Bioc devel. You can go now ahead and import the `GeneIdFilter` from `AnnotationFilter` instead of `ensembldb`. I'll push to `ensembldb` tomorrow.

[2017-04-03 16:50] stianlagstad commented on #3
Is there a difference in how I use the filter? I changed my code to use `AnnotationFilter::GeneIdFilter` instead of `ensembldb::GeneidFilter`, but that's giving me ` Error in checkFilter(filter) :  One of more elements in 'filter' are not filter objects! `.

The line I changed: https://github.com/stianlagstad/chimeraviz/blob/master/R/utilities.R#L558

[2017-04-03 17:10] stianlagstad commented on #3
I also tried changing it to this:
[code]

But that got me ` Error in checkFilter(filter) :  'filter' has to be a filter object or a list of filter objects!`.

Edit: I just realized that this might be because `ensembldb` might not be updated yet :)

[2017-04-03 19:42] jorainer commented on #3
Yes, that might be an explanation. You can update `ensembldb` from github:
[code]

[2017-04-07 06:17] jorainer commented on #3
@stianlagstad please replace `GeneidFilter` with `GeneIdFilter` (note the capital `I` in Id). In `AnnotationFilter` we tried to streamline all filter class names, such that filtering on a column named `gene_id` is done using an `GeneIdFilter`, i.e. capitalizing each character after a `_`.

[2017-04-07 06:27] stianlagstad commented on #3
Thanks again, @jotsetung. I'm looking at this tonight, as my dependencies are building again today.

[2017-04-08 11:00] #3 closed, assigned to nobody

[2017-05-30 14:45] drmrgd opened #4 "Column Header Issue with importStarfusion.R Function"
Hi,
As of v0.8.0 of STAR-Fusion, it would seem that the column headers of the 'star-fusion.fusion_candidates.final.abridged' have changed, which is causing an error when trying to import the file using `importStarfusion.R`:

[code]

It looks like in this version of STAR-Fusion, the column headers and data are as follows:

[code]
I manually edited the file and verified that import is successful if

[2017-05-31 06:24] stianlagstad commented on #4
Thank you for the bug report! :)

The import-function should support both the new version of the result file from STAR-Fusion as well as the old one, don't you think? I could add a parameter to the import function that lets the user specify which version they have used (for example `importStarfusion(filename, version="0.8.0")`), and let the default value be the most recent version. What do you thi

[2017-05-31 18:24] drmrgd commented on #4
Thanks for the quick reply!  I think that might make a lot of sense to do it that way in order to ensure that most users would have some flexibility.  I looked through the data and I can't think of a programmatic way to do this.  So, adding a parameter to the function is a great idea.

[2017-06-01 10:10] stianlagstad commented on #4
Note that any API changes (such as adding a new parameter) requires me to do the change in the [development version](https://bioconductor.org/packages/devel/bioc/html/chimeraviz.html) of chimeraviz, which is harder to use for the average user. Then the change will not be available in the [release version](https://bioconductor.org/packages/release/bioc/html/chimeraviz.html) until the next Bioconduc

[2017-06-01 12:54] drmrgd commented on #4
Thank you very much, I think this will work fine!  I think the timing is probably ok, as it's fairly easy to change the header of the STAR-Fusion output to make the expectations chimeraviz in the event there is an issue.  I really appreciate the quick help!

[2017-06-02 14:53] stianlagstad commented on #4
That's taken care of. After the next nightly Bioconductor build `importStarfusion` will work with the new format :)

I'll leave this issue open so that I'll remember to implement the `version`-parameter in devel.

[2017-10-12 03:43] komalsrathi opened #5 "seqlevels(param) not in BAM header"
Hi,

I have successfully been able to follow all steps from the chimeraviz manual until `plotFusionTranscript`. When I run it, it gives me the following error:

[code]

These are the steps I followed:

1. Generate the reference fasta:

[code]

This is how the reference fasta `referenceFilename` looks like:

[code]

These are first few lines of the fastq files:

[code]

2. Create bam file `bamfile`

[2017-10-12 16:26] stiancognite commented on #5
Thank you for your interest in chimeraviz! Could you by any chance share your input files? At first glance I think it might have to do with different chromosome naming ("chr11" vs. just "11"), though I can't investigate it further right now. I'll take a closer look as soon as I can.

Sidenote: The reason "chrNA" is used (chimeraviz sets this in the `writeFusionReference` function) is to make Gviz

[2017-10-12 16:32] stianlagstad commented on #5
Thank you for your interest in chimeraviz! Could you by any chance share your input files? At first glance I think it might have to do with different chromosome naming ("chr11" vs. just "11"), though I can't investigate it further right now. I'll take a closer look as soon as I can.

Sidenote: The reason "chrNA" is used (chimeraviz sets this in the `writeFusionReference` function) is to make Gviz

[2017-10-12 19:02] komalsrathi commented on #5
Hi Stian,

Thanks for the response. Here is the google drive link with all the data - input fastq files, reference fasta generated by `writeFusionReference`, Ensembl GTF modified with "chr", bam files generated using `writeFusionReference` as well as fusion catcher output folder. Also attaching my R script in the drive so you can reproduce the output.

https://drive.google.com/open?id=0B-8gQV1WZcY

[2017-10-12 19:36] stianlagstad commented on #5
Thank you for providing everything!:) I will look at this over the weekend.

[2017-10-12 19:45] komalsrathi commented on #5
Thanks! One question though - I had to update my R to 3.4.2 and Rstudio to the latest version but a lot of other packages are working now. Can you tell me which R versions can chimeraviz work on? I think I had an older version but it wasnt getting installed which is why I had to update R.

[2017-10-13 00:59] komalsrathi opened #6 "Error in data.frame(x1 = start(pairGaps) - 1, y1 = gy, x2 = end(pairGaps) +"
Hi Stian,

I am facing a different issue with another sample:

[code]

The `plotFusionReads`  function is giving me this error:

[code]

I am attaching all required data and script here: https://drive.google.com/open?id=0B-8gQV1WZcYdNnJyWmROclI0UFE

Please look at this whenever you get some time.

Thanks for all your help!

[2017-10-14 09:38] stianlagstad commented on #5
I think the problem is the bamfile you're using: `bamfile <- 'fusionAlignment.bam'`. This is the bamfile containing reads aligned to the sequence around the fusion breakpoint. This is the correct bamfile to use for the `plotFusionReads` plot. But the bamfile you need for the `plotFusion`, `plotTranscripts`, and `plotFusionTranscript` is the original bamfile used with the fusion finder (i.e. the on

[2017-10-14 13:30] stianlagstad commented on #4
I've changed my mind about this one. The problem with accepting a "verison" parameter is that the fusion finders will probably many times without actually updating their output format. If chimeraviz were to take a "version" parameter, I would have to add each valid version mapped to each potential output format. I think it would be easier to just stay on top of the outputs of the most recent versi

[2017-10-14 13:30] #4 closed, assigned to nobody

[2017-10-14 14:39] stianlagstad commented on #6
I've reproduced the issue with your example and tracked down what code in chimeraviz causes the issue ([the line edited in this commit](https://github.com/stianlagstad/chimeraviz/commit/1076187ed7d47cf07b9bc07b157fc961fb2ad339)). It looks like there's simply too many reads aligning to the fusion sequence so that Gviz in the end gets problems displaying them all when I've set `min.height = 20`, lea

[2017-10-16 17:51] komalsrathi commented on #5
Hi Stian - thanks for the prompt response. Just letting you know that I am testing these two issues now and will close/update them soon.

[2017-10-16 18:44] komalsrathi opened #7 "Graphics issue in plotFusion and plotFusionReads"
Hi Stian,

I am facing a lot of graphics issue so for simplicity, I am just using your test code so it is easier for you to reproduce the problem:

[code]

At this point, this is the plot I am getting -

![image](https://user-images.githubusercontent.com/7000615/31628783-be977578-b27f-11e7-8da2-843121a5bf7a.png)

**Why is it not showing the ATGC and showing colored bars instead?**

Another plot th

[2017-10-16 18:53] komalsrathi commented on #6
I am unable to get the dev version using:

`devtools::install_git("git@git.bioconductor.org:packages/chimeraviz")`

My Rstudio just hangs and does not proceed.

[2017-10-17 05:46] stiancognite commented on #6
Could you try again? I noticed chimeraviz was missing from the latest bioconductor build yesterday, but it seems to be back now.

[2017-10-17 06:09] stiancognite commented on #7
Please keep these coming :):)

The first issue is that there's not enough rom on the screen to actually show you all the nucleotides. You can limit the amount of nucleotides with the `nucleotideAmount` parameter - that'll let you experiment a bit and find the limit. Try setting it to `10` to start, and also set `showAllNucleotides` to `FALSE`.
[code]
![rplot](https://user-images.githubusercontent.

[2017-10-17 15:43] stianlagstad commented on #7
The first issue is that there's not enough rom on the screen to actually show you all the nucleotides. You can limit the amount of nucleotides with the `nucleotideAmount` parameter - that'll let you experiment a bit and find the limit. Try setting it to `10` to start, and also set `showAllNucleotides` to `FALSE`.
[code]
![rplot](https://user-images.githubusercontent.com/32162187/31648805-07f397fc-

[2017-10-17 15:44] stianlagstad commented on #6
Could you try again? I noticed chimeraviz was missing from the latest bioconductor build yesterday, but it seems to be back now. And I just tried installing with that command myself, and it worked.

[2017-10-20 17:11] komalsrathi commented on #6
I can't seem to understand what's going on -- when I try that command, it just hangs and doesn't do anything. Did I screw things up by upgrading Bioconductor to 3.5? Seems like everything was working fine before that :/

<img width="776" alt="screen shot 2017-10-20 at 1 11 41 pm" src="https://user-images.githubusercontent.com/7000615/31833342-4313ac7a-b598-11e7-9cd9-4c653abfd72e.png">

[2017-10-22 19:07] stianlagstad commented on #7
Just to show a sign of life: So far I'm clueless. In the `plotFusion` function I use `Gviz::coords()` to fetch the coordinates of where the exons are plotted in the picture. I use these to decide where to draw the red arc. For some reason the y coordinates those code lines returns on a mac are off. I don't know why yet. I don't really think it's a Gviz issue.

Relevant chimeraviz code from `plotFu

[2017-10-22 20:05] stianlagstad commented on #7
After getting some help on the bioc-devel list I got a bit further. The arc turns up where it's supposed to when I use another graphics device. Could you try that as well? I.e. try:
[code]
and then see what `testplot.png` looks like?

[2017-10-24 16:40] komalsrathi commented on #6
Hi Stian

The only way I am able to install `chimeraviz` is:

[code]

This is version `chimeraviz_1.0.4`. Is this the correct one?

[2017-10-24 16:43] komalsrathi commented on #7
Yes this works for me -- thanks! I am testing the entire code now and will update you on it.

![testplot](https://user-images.githubusercontent.com/7000615/31956277-f038b5d0-b8b8-11e7-840c-ac0c99c9fae2.png)

Thanks a lot!

[2017-10-24 19:34] stianlagstad commented on #7
Great! I'll look more into the default graphics driver on mac and try to figure out the issue. But I'll close this :)

[2017-10-24 19:34] #7 closed, assigned to nobody

[2017-10-24 20:25] stianlagstad commented on #6
I'm sorry, I thought that would work. I'll get back to you on how you can install chimeraviz directly from the Bioconductor git repository. In the meantime you have two more common ways of installing the package:
1. Using the [release version](https://bioconductor.org/packages/release/bioc/html/chimeraviz.html). This will get you version 1.0.4 (you can see the version a bit down on the landing pag

[2017-10-25 06:03] stianlagstad commented on #6
This should work: `devtools::install_git("https://git.bioconductor.org/packages/chimeraviz.git")`

[2017-10-25 13:57] komalsrathi commented on #6
Thanks!! Closing this now. I am now testing `chimeraviz_1.2.3` and will open new issues if any. Thanks again!!

[2017-10-25 15:25] stianlagstad commented on #5
Can this too be closed, @komalsrathi?

[2017-10-25 15:43] stianlagstad opened #9 "Investigate 5' and 3' marker error in fusionPlot"
The 5' and 3' markers on the fusion plot seems to be off. See [the plot here](https://bioconductor.org/packages/devel/bioc/vignettes/chimeraviz/inst/doc/chimeraviz-vignette.html#fusion-plot).

[2017-10-25 15:44] stianlagstad opened #10 "Coverage not showing with reduced transcripts in fusionPlot"
The coverage isn't showing in the fusion plot when `reduceTranscripts = TRUE. See [the plot here](https://bioconductor.org/packages/devel/bioc/vignettes/chimeraviz/inst/doc/chimeraviz-vignette.html#fusion-plot).

[2017-10-25 15:53] komalsrathi commented on #5
I am testing this today and will close this asap. Thanks!!

On Wed, Oct 25, 2017 at 11:25 AM Stian Lågstad <notifications@github.com>
wrote:

--
*Komal S Rathi* | Bioinformatics Scientist II, DBHi, The Children's
Hospital of Philadelphia | rathik@email.chop.edu

[2017-10-25 15:56] stianlagstad commented on #9
Possibly a Gviz bug. This code:
[code]
Produces this:
![rplot](https://user-images.githubusercontent.com/4340859/32008687-21ad1e0e-b9ad-11e7-9275-a17de9daa50e.png)

I've posted a question on the [Bioconductor support site](https://support.bioconductor.org/p/102140/).

[2017-10-25 18:27] komalsrathi commented on #6
Hi Stian,

I would like to reopen this again. This time trying with a different sample but getting the same error.

data is here: https://drive.google.com/open?id=0B-8gQV1WZcYdWFBVT0FlbjRWY2c

Script:

[code]

There are two fusions for the same genes, one is in-frame and other is out-of-frame. The code works with id: 15 but not with id: 14.

This is the session info:

[code]

[2017-10-25 18:49] komalsrathi commented on #5
I am closing this as I did not get this error with the latest test I did on a different sample. Thanks for all the help!

[2017-10-25 18:49] #5 closed, assigned to nobody

[2017-10-27 08:08] yboursin opened #11 "linkWidth wouldn't work if only one fusion"

[2017-10-27 08:10] yboursin opened #12 "object 'alTrackHighlightB' not found"
Fetching transcripts for gene partners..
..transcripts fetched.
Selecting transcripts for B3GNT6..
..found transcripts of type intergenic
Selecting transcripts for INCA1..
..found transcripts of type intergenic
As INCA1 is on the minus strand, the plot for this gene will be reversed
Error in Gviz::plotTracks(collapse = FALSE, list(trBtrack, alTrackHighlightB),  :
  object 'alTrackHighlightB' not f

[2017-10-27 16:25] stianlagstad commented on #12
Thank you. I just pushed the commits to fix this in the devel branch. Unfortunately the 3.5 branch has been closed due to the 3.6 release happening in a few days, so I was not able to fix it there.

[2017-10-27 16:25] #12 closed, assigned to nobody

[2017-10-27 16:44] stianlagstad commented on #11
Thank you. I just pushed the commits to fix this in the devel branch. Unfortunately the 3.5 branch has been closed due to the 3.6 release happening in a few days, so I was not able to fix it there.

[2017-10-27 16:44] #11 closed, assigned to nobody

[2017-10-27 16:53] stianlagstad commented on #6
Thank you again @komalsrathi! I'm just writing to confirm that I get the same issue on my end. I'll try to fix this as soon as I can.

[2017-10-27 17:08] stianlagstad commented on #6
This should be taken care of in version 1.2.6. Let me know if it works :)

[2017-10-27 18:15] komalsrathi commented on #6
Hi Stian - I tried this with v1.2.6 but it is still throwing the same error.

[code]

[2017-10-27 19:43] stianlagstad commented on #6
Hmm, that's weird. This code:
[code]
Creates this plot for me:
![rplot](https://user-images.githubusercontent.com/4340859/32121813-6d36e4ba-bb5e-11e7-96b4-80968c1572f4.png)

My sessionInfo:
[code]

Could it be that something is cached on your machine? Just to exclude that as an option, could you delete your chimeraviz installation, exit R, start a new session and install chimeraviz again? (Running

[2017-10-30 14:24] komalsrathi commented on #6
Hi Stian,

I deleted chimeraviz, restarted R and installed chimeraviz again - but I am getting the same error. Is there anything else I can provide you so you can check what's going on?

This is the `plotFusionReads` function for the version that I have installed (just in case it helps):

[code]

Thanks
Komal

[2017-10-30 19:17] stianlagstad commented on #6
That looks like the most recent version of the function. Maybe this is another mac-specific issue, because I cannot reproduce it on my Ubuntu laptop. I'll check it on the mac I have at work as soon as I can.

Could you try doing this?
[code]
That is, instead of using the standard graphics device, store the plot in a png file with a predefined height and width. The issue might have to do with the a

[2017-10-30 19:50] komalsrathi commented on #6
Hi Stian,

That did not work but I just took your idea of using a different plotting device and used pdf instead:

[code]

If you get a chance to test this on a mac then please do. But I am closing this now. Thanks a lot!

[2017-11-09 06:56] raunakms opened #13 "plotFusionTranscriptWithProteinDomain function not found"
Got following error message:

Error in .helpForCall(topicExpr, parent.frame()) :
  no methods for 'plotFusionTranscriptWithProteinDomain' and no documentation for it as a function

[2017-11-09 19:56] stianlagstad commented on #13
Hi! Thank you for your interest in chimeraviz. Could you please run `sessionInfo()` and paste the result here? The problem might be that you're using the previous version of Bioconductor and thus the old version of chimeraviz. [Here, under "Update Installed Bioconductor Packages", are instructions for how to upgrade Bioconductor and the package you've installed](http://bioconductor.org/install/).

[2017-11-09 20:50] raunakms commented on #13
R version 3.4.1 (2017-06-30)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

Matrix products: default

locale:
[1] LC_COLLATE=English_United States.1252  LC_CTYPE=English_United States.1252    LC_MONETARY=English_United States.1252
[4] LC_NUMERIC=C                           LC_TIME=English_United States.1252

attached base packages:
 [1] grid      stats4

[2017-11-10 08:15] stianlagstad commented on #13
It looks like you're using an older version of R. Try to install version 3.4.2 so that you can install Bioconductor 2.6. That should get you chimeraviz 1.4.0, which has the plot you're interested in :)

[2017-11-10 08:15] #13 closed, assigned to nobody

[2017-11-17 16:02] komalsrathi commented on #6
Hi Stian,

Tried pdf and your solutions but still facing this problem in a bunch of samples - will update this comment in a few hours with some examples.

Thanks
Komal

[2017-11-17 17:58] stianlagstad commented on #6
Thank you! Examples along with the data that leads to the errors makes my job a lot easier :)

[2017-11-19 23:47] komalsrathi commented on #6
Hi Stian,

Here is the Rscript and associated data: https://drive.google.com/drive/folders/0B-8gQV1WZcYdWFBVT0FlbjRWY2c

Thanks!!

[2017-11-26 10:57] stianlagstad commented on #6
As far as I can understand there is something going wrong in the gviz package. I'll create an issue for gviz to see if Florian Hahne (the maintainer) has any tips. Is it alright if I use the files you provided in the issue I create for gviz?

Steps to reproduce the error:
[code]

[2017-11-27 20:37] komalsrathi commented on #6
Hi Stian,

Sure - but could you just share the data and Rscript in the same google drive folder instead of sending the files over? So that once this is resolved, I will delete the google drive folder as well. Let me know if this works for you.

Thanks
Komal

[2017-11-28 08:24] stianlagstad commented on #6
Thanks! I've posted the issue here: https://support.bioconductor.org/p/103474/. Please upvote it if you're registered there.

[2017-11-28 13:21] wyzhangMPI opened #14 "Visualization of chimeric transcript from Non-human organism"
Hi,
   I would like to know whether chimeraviz can be used for the visualization of the chimeric transcript from non-human organims. I tried import the fusion data with "fusions <- importStarfusion(defuse833ke, "mm10")", but failed with genome version info.

Thanks!

Best,
Wenyu Zhang

[2017-11-28 16:58] stianlagstad commented on #14
Hi,

Thank you for your interest in chimeraviz! Currently the package only supports the human genome (hg19 and hg38), but it would be interesting to improve chimeraviz to support other genomes as well. Is it only the mm10 genome you're interested in?

Note to self:
- mm10 cytoband data can be found here: http://hgdownload.cse.ucsc.edu/goldenpath/mm10/database/
- edb can be created with gtf file fr

[2017-11-28 17:25] wyzhangMPI commented on #14
Yes, mm10 is my current interest. Would that be possible that to guide the chimeraviz to read in the mm10 meta data, i.e., cytoband data, and do the visualization?
Thanks!

[2017-11-28 17:29] stianlagstad commented on #14
Are you able to share your fusion finder results file, as well as a corresponding .bam file? That would help me add support for mm10 much faster :)

[2017-11-28 17:37] wyzhangMPI commented on #14
Hi,
I will upload the dataset to our ftp server tomorrow and provide you the link then.
Thanks!

Best,
Wenyu

Original Message
Sender:Stian Lågstadnotifications@github.com
Recipient:stianlagstad/chimeravizchimeraviz@noreply.github.com
Cc:wyzhangMPIwyzhang@evolbio.mpg.de; Authorauthor@noreply.github.com
Date:Tuesday, Nov 28, 2017 18:29
Subject:Re: [stianlagstad/chimeraviz] Visualization of chimeric

[2017-11-28 17:48] stianlagstad commented on #14
Great! If there are no unexpected problems then it won't take long for me to implement support for mm10 :)

[2017-11-29 12:44] wyzhangMPI commented on #14
Hi,
     I upload all the data from the output of star-fusion:
http://web.evolbio.mpg.de/~wyzhang/Webdav_Pub/star_fusion_outdir/. You
can find the tsv and bam file there.
     Look forward to seeing that chimeraviz works on mm10.
     Thanks!

Best,
Wenyu

Dr Wenyu Zhang
Department of Evolutionary Genetics,
Max Planck Institute for Evolutionary Biology
August-Thienemann-str 2
24306 Plön (Germany)

[2017-11-30 19:23] stianlagstad commented on #14
If you can install chimeraviz from git now (with `devtools::install_git("https://git.bioconductor.org/packages/chimeraviz.git")`), mm10 should work :) I've done some testing, but there might a couple of bugs I've missed. Please let me know about any issues you run into.

Note that this is the development version of chimeraviz. You might have to use a newer version of R, and newer versions of the s

[2017-12-01 13:54] wyzhangMPI commented on #14
Hi,
   I tried with newest R version, and it seems that works well. I will let you know if any further issues.
   Thanks so much!

[2017-12-01 14:11] stianlagstad commented on #14
I'm sorry about that - it might've been because `devtools::install_git` didn't install all the dependencies. The development version of chimeraviz (available at https://bioconductor.org/packages/devel/bioc/html/chimeraviz.html) has been updated to reflect yesterdays changes. So if you're able to install it from the instructions there, you should be good to go. Note however that the development ver

[2017-12-01 14:13] wyzhangMPI commented on #14
Hi,
     Sorry, I just updated my comments.
     I manually downloaded org.Mm.eg.db through bioconductor, and now it
works well.
     Thanks!

Best,
Wenyu

------ Original Message ------
From: "Stian Lågstad" <notifications@github.com>
To: "stianlagstad/chimeraviz" <chimeraviz@noreply.github.com>
Cc: "wyzhangMPI" <wyzhang@evolbio.mpg.de>; "Author"
<author@noreply.github.com>
Sent: 12/1/2017 3:11:1

[2017-12-01 14:14] stianlagstad commented on #14
That's great :) Do let me know how the mm10 support works for you. Just reopen this issue if there are any problems.

[2017-12-01 14:15] #14 closed, assigned to nobody

[2017-12-11 02:00] komalsrathi commented on #6
Hi Stian, not to rush you in any way but any updates on this?

[2017-12-12 08:09] stianlagstad commented on #6
Thanks for the heads up, @komalsrathi! I hadn't noticed their answer. If the bug has indeed been fixed, you should only need to update your Bioconductor packages. [Take a look here](https://www.bioconductor.org/install/#update-bioconductor-packages). I'll take a look myself as soon as I'm able :)

[2017-12-14 09:07] zhixue opened #15 "Warning message: The following named parsers don't match the column names: J_FFPM, S_FFPM"
Hello Stian,
I got the output from **STAR-Fusion**(Release v1.2.0) and installed the **chimeraviz** for bioconductor.
After preparation, I run the following command:
[code]

Error in vector("list", dim(report)[1]) : 'length' is not corrent
 Warning message:
The following named parsers don't match the column names: **J_FFPM, S_FFPM**

So I compared the columns of examplefile in chimeraviz and outpu

[2017-12-14 09:14] stianlagstad commented on #15
I suspect chimeraviz isn't updated with the latest output format of STAR-Fusion. I'll update it early next week (off to vacation right now:). Thank you for reporting!

[2017-12-14 16:03] zhixue commented on #15
Thanks for your answer!
Wish you a pleasant vacation~

[2017-12-19 11:50] stianlagstad commented on #15
Which version of STAR-Fusion are you using? And could you paste the command you're running STAR-Fusion with?

Note to self: I might have to support two output formats for STAR-Fusion, ref https://github.com/STAR-Fusion/STAR-Fusion/issues/19

[2017-12-19 12:50] zhixue commented on #15
I am a novice.The STAR-Fusion had been removed from the server(I borrowed) and I checked up the version in logs but not found.
my command is(single-end fastq data, I using --left_fq  as tutorial says, without  --chimeric_junction)
[code]
I have seen the link of ref STAR-Fusion/STAR-Fusion#19 which is similar to what I faced, but STAR-Fusion I used should be the most recent version because it was i

[2017-12-20 07:35] zhixue commented on #15
Oh,sorry.
I used command to download the STAR-Fusion from github in my group’s server but failled to apply memory when it was running(the machine with 31GB).
But I installed the STAR-Fusion in the server I borrowed with the **conda** command from a mirror in our country:
[code]
I couldn't find the installed path of STAR-Fusion yesterday and the lib data had been deleted, I check the version again

[2017-12-23 11:00] stianlagstad commented on #15
Hey, not worries at all. Let me know which version you're on when you have the chance to run the samples again. And let me know what the output looks like then.

[2017-12-25 13:17] zhixue commented on #15
I have run it again.
In my last line of nohup.out:

I only found "star-fusion.fusion_predictions(.abridged).tsv" which format is same as STAT-Fusion/wiki

I check the version:

    ~/tools/STAR-Fusion-v1.2.0/STAR-Fusion --version

----
    nohup STAR-Fusion --genome_lib_dir my_lib_download_dirtionary \
             --left_fq sample1.fq \
             --output_dir star_fusion_sample1_outdir &
----

[2018-01-03 10:03] lkalbert001 commented on #15
Today I also meet the same problem like @zhixue said. I get the screenshot，and what I used is the docker image "[trinityctat/ctatfusion](https://hub.docker.com/r/trinityctat/ctatfusion/)". What can I do to fix the problem. Please.

screenshot：  ![this](http://m.qpic.cn/psb?/V139MKC545iPJ1/WSIy4Txs2QDdgcFSkuMZrJ58sunyhCe4I3CD3pE0z7c!/b/dPIAAAAAAAAA&bo=lgTYAJYE2AADCSw!&rf=viewer_4)

[2018-01-03 18:05] stianlagstad commented on #15
Thank you both for helping me make chimeraviz better! :) Which version of STAR-Fusion are you using, @lkalbert001?

[2018-01-04 01:23] lkalbert001 commented on #15
Thanks for your reply! And what I used is below:

**STAR-Fusion : 1.2.0**
**STAR :2.5.3a**
**samtools: 1.3.1**
**Trinity: v2.5.1**
**gmap: 2017-10-30**

[2018-01-04 05:57] stianlagstad commented on #15
Thank you. Unfortunately I don't have much time this week, but I will fix this as soon as I'm able. Until then you'll be able to make it work by just removing one of the columns (`J_FFPM` or `S_FFPM`) and renaming the remaining one to `FFPM`. Or you could use this importer instead:
[code]
Could you also run `sessionInfo()` and paste the result here, @lkalbert001?

[2018-01-04 06:28] lkalbert001 commented on #15
Thank you for helping me.
I will try the later method.
And I hope it work. Thank you again.

What `sessionInfo()` shows looks like this：
<img src="http://m.qpic.cn/psb?/V139MKC545iPJ1/*OHrhSVR6vVa0qbe45ts*ODtG6beTxDU8k5yrfGolGU!/b/dPIAAAAAAAAA&bo=yQOAAgAAAAADB2o!&rf=viewer_4" width="500">

And there are other contents like this.

[2018-01-07 10:30] stianlagstad commented on #15
Hey @lkalbert001, did that importer work for you?

I'm still not sure what the output format from STAR-Fusion should be. If chimeraviz should support both FFPM, and the case where you get both J_FFPM and S_FFPM. Ref https://github.com/STAR-Fusion/STAR-Fusion/issues/19#issuecomment-355812681

[2018-01-07 10:31] stianlagstad commented on #6
@komalsrathi, did you get past this error by updating your Bioconductor packages?

[2018-01-07 22:48] komalsrathi commented on #6
Hi Stian - sorry I just got around to testing this. It is working fine now. Thank you!!

[2018-01-07 22:48] #6 closed, assigned to nobody

[2018-01-08 02:09] lkalbert001 commented on #15
Hi stianlagstad ,I just copy your code into my  R script ，but it‘s Error.

<img width="600" alt="chimeraviz_problem" src="https://user-images.githubusercontent.com/34129931/34656749-39023fee-f459-11e7-8f28-7d4906f0a170.png">

The result file produced by the latest STAR-Fusion（1.2.0）has FFPM column, but the 1.0.0 version has S-FFPM and J-FFPM .So I think chimeraviz should support both format ,becau

[2018-01-13 17:18] stianlagstad commented on #15
I'm going to update chimeraviz so that it supports the most recent version of STAR-Fusion. For now, if you need to work with an older version of its output, you will have to write your own import-function. I will be glad to assist if anyone needs help with that.

[2018-01-13 17:18] #15 closed, assigned to nobody

[2018-02-15 15:42] plijnzaad opened #16 "fusion@gene[AB]@ensemblId not filed in by importStarfusion"
Hi,

in the latest version of `importStarfusion` function does not fill in the `ensemblId` slot of the fusion partners. Would be nice to have. This is using output from STAR-fusion 1.2.0 (run CentOS 7, 3.10.0-693.11.6.el7.x86_64), analyzed on Mac OSX (Darwin PMC-GEN003 15.6.0 Darwin Kernel Version 15.6.0: Tue Jan  9 20:12:05 PST 2018; root:xnu-3248.73.5~1/RELEASE_X86_64 x86_64 i386 MacBookPro12).

[2018-02-15 16:07] plijnzaad commented on #16
I quickly concocted a work around, maybe this is of use to anyone (too much in a hurry to do this a as a proper pull request, sorry :-)

[code]

[2018-02-15 17:49] stianlagstad commented on #16
Thank you!:) I've pushed a fix for this which will be available in chimeraviz version 1.4.2 of the release version of Bioconductor, and chimeraviz version 1.5.4 of the devel version of Bioconductor.

[2018-02-15 17:49] #16 closed, assigned to nobody

[2018-02-16 16:22] plijnzaad opened #17 "plotFusionReads fails if junctionSequence is empty"
I had hoped that the `plotFusionReads` would infer the junction sequence, but in my case fusion@gene{A,B}@junctionSequence was never set (using STAR-fusion, I guess I'll have to run it with Trinity first). If would be nice if function `is.nucleotideAmount.valid` would return immediately (with an clear message)  if `fusionJunctionSequenceLength` has length zero (in most cases that would be because

[2018-02-16 16:43] stianlagstad commented on #17
Thank you again, @plijnzaad! I can give dealing with multiple origins another chance so that you can create pull requests here. I'll update here when I've figured it out or given it up again.. :)

[2018-02-16 17:26] stianlagstad commented on #17
That should do it! Now the code is here on Github again, and you can create a pull request :)

[2018-03-02 23:29] komalsrathi opened #24 "Empty reference when importing STAR-Fusion output"
Hi,

I am trying to import the results of STAR-Fusion (`STAR version=STAR_2.5.3a`) and facing some issues:

[code]

But the reference file is empty and there are no errors associated with it. Can you have a look at this when you get a chance?

Here is my sessionInfo:

[code]

STAR output files (there are four .tsv files from STAR output, you can check all four), fastq files and reference output (e

[2018-03-04 12:39] stianlagstad commented on #24
Thank you again for a great bug report, @komalsrathi! Code + data = reproducible example, which makes my job a lot easier :) I will look into this today.

[2018-03-04 17:04] stianlagstad commented on #24
This happens because the fusion junction sequence isn't imported from the STAR-Fusion file. When importing data from a defuse results file, you can see that the fusion junction sequence is present:
[code]
But when I import data from the `star-fusion.fusion_predictions.tsv` file you provided:
[code]
This is simply because the fusion junction sequence isn't provided in the `star-fusion.fusion_predic

[2018-03-04 22:38] stianlagstad commented on #24
Version 1.4.3 of the release version of chimeraviz, and version 1.5.5 of the development version will now issue a warning when calling `writeFusionReference` with a `Fusion` object without the fusion junction sequence. :)

[2018-03-05 15:36] komalsrathi commented on #24
Thanks Stian for looking into this so quickly - I will do a few tests and close this asap.

[2018-03-05 17:29] komalsrathi commented on #24
Hi Stian,

Is it possible for you to have the function import the other TSV file `star-fusion.fusion_predictions.abridged.annotated.coding_effect.tsv` that I have in the drive instead of `star-fusion.fusion_predictions.tsv`? The **star-fusion.fusion_predictions.tsv**  will never have a junction sequence or the type of fusion so it is really not very helpful.

The annotated file is the last file to

[2018-03-06 19:23] stianlagstad commented on #24
I think pull request https://github.com/stianlagstad/chimeraviz/pull/23 will do what you want, so let's wait for that to be merged in. :)

[2018-03-06 19:28] stianlagstad opened #32 "Better document how to create a file with protein domain coordinates"
Although documented [here](https://github.com/stianlagstad/chimeraviz/blob/master/R/extdata.R#L189), it should be easier to create the data needed for the protein domain plot. This issue will track my progress on this.

Initial ideas:
- create helper scripts that'll make it easy to generate the file needed
- create a vignette describing how the file can be created

[2018-03-12 19:15] komalsrathi opened #41 "What do the link widths represent in the overview plot?"
Hi Stian,

I was trying to create the overview plot but a little confused as to what the link widths mean here:

https://bioconductor.org/packages/release/bioc/vignettes/chimeraviz/inst/doc/chimeraviz-vignette.html#building-the-overview-plot

Initially I thought it represents how many times the event was observed. But the width between `EDA-RFWD3` is greater than `EEF1A1P5-PABPC1` even though `EEF

[2018-03-12 20:45] stianlagstad commented on #41
Hey @komalsrathi! The link width just signifies how many supporting reads (spanning + split) support that fusion event. But it's scaled compared to the other fusion events in the list. So that if you have this list of fusion events:
- fusion1 with 5 supporting reads
- fusion2 with 10 supporting reads
- fusion3 with 42 supporting reads

then the width of fusion3 would be the biggest. Does that make

[2018-03-12 23:28] komalsrathi commented on #41
Oh alright - I have been misunderstanding it as the number of times/samples it was seen in. Thanks for clarifying!

[2018-03-12 23:28] #41 closed, assigned to nobody

[2018-03-23 15:08] JakobHofvander opened #42 "Coverage not plotted with "plotFusionTranscript""
Thank you for for the nice tool!
However, I'm not able to get the coverage plotted with the plotFusionTranscipt command, but it works for the other plots. I only get the blue/green exons and the axis.

I'm using bedGraph files and not bam files. I'm using chimeraviz_1.4.3 installed with bioconductor

Also, is it possible to change the axis of only one of the genes in "plotFusion"? I have a very hi

[2018-03-24 13:37] plijnzaad commented on #42
Hi, it really depends on what fusion gene caller you are using: it has to provide them, and chimerviz has to support the particular way the tools provides the fusion reads. The example in the vignette uses the deFuse tool (which does supply them). STAR-Fusion (which I am currently working on) also supplies them, but chimeraviz doesn't support it yet (I have something working, I will issue a pull r

[2018-03-27 20:47] #17 closed, assigned to nobody

[2018-05-21 18:13] vjcitn opened #43 "current vignette has lots of warnings"
have a look at

https://bioconductor.org/packages/release/bioc/vignettes/chimeraviz/inst/doc/chimeraviz-vignette.html

there are lots of

## Warning in read_tokens_(data, tokenizer, col_specs, col_names, locale_, :
## length of NULL cannot be changed

## Warning in read_tokens_(data, tokenizer, col_specs, col_names, locale_, :
## length of NULL cannot be changed

## Warning in read_tokens_(data, t

[2018-05-22 06:16] stianlagstad commented on #43
Thank you for bringing this to my attention, @vjcitn! I believe it's caused by https://github.com/tidyverse/readr/issues/750, which now seem to have been fixed. I will look at it shortly.

[2018-06-25 12:09] MoHallal opened #44 "Error: Invalid genome version given"
Hello,
I am trying to run chimeraviz ( version 1.4.3) on some tsv files generated from defuse ( mouse RNA-seq data, mm10 genome version ) but I am getting an error : Invalid genome version.
for some reason I am not able to update chimeraviz to the latest version and it seems the problem is related to not being able to update R( currently version 3.4.4)  and Bioconductor on this version of Ubuntu
a

[2018-06-28 18:45] stianlagstad commented on #44
Hi @Hallalster! Thank you for your interest in chimeraviz. Unfortunately mm10 was not supported before version 1.5.1 of chimeraviz.

I'm closing this issue, but maybe I can help you get to R version 3.5. Can you try following the instructions on this page: https://cran.r-project.org/bin/linux/ubuntu/ ? That is:
1. Add `deb https://cloud.r-project.org/bin/linux/ubuntu bionic-cran35/` to the bottom

[2018-06-28 18:45] #44 closed, assigned to nobody

[2018-06-28 18:47] stianlagstad commented on #44
Another option is using Docker. http://stianlagstad.no/developing-a-bioconductor-package-with-rstudio-and-docker/ might help you.

[2018-07-01 22:02] ahdee opened #45 "bigger font?"
Hi is there a way to change the font for the circos plots? They look good but would be great if there was a way to change the font size.  thanks.

[2018-07-01 22:09] ahdee commented on #45
figure it out nevermind.  thanks. basically I just run par(cex=2.0) before the plot

[2018-07-01 22:09] #45 closed, assigned to nobody

[2018-07-02 17:13] ahdee opened #46 "Plot_transcripts error with STAR but not SOAP imports."
Hi,
I'm using STAR-Fusion-v1.3.2 and the chimeraviz:  "1.6.0".   I was able to input the tsv file from star-fusion and circos plot can be generated.  However, when I tried

[code]
I get this error.
[code]
When I the same fusion and sample is imported with soap the code runs perfectly.
I included a test tsvfrom Star.   ( file name is .txt so that I can upload example)

thanks!

[test.txt](https://g

[2018-07-05 19:57] stianlagstad commented on #46
Hi @ahdee! I'm not able to look at this right now but could you also share your SOAPFuse results file? Then I can look at both and compare when I have the time :)

[2018-07-16 23:53] MrsLaviniaG opened #47 "Request for support for importing other fusion calls"
Hi, can I submit a request for support for importing data from pizzly? (or providing a generic import function so data from fusion-finders not currently supported can be converted and then imported?)

Many thanks.

[2018-07-29 09:54] stianlagstad commented on #47
Hi @MrsLaviniaG! Thank you for your interest in chimeraviz :) Is it https://github.com/pmelsted/pizzly? Do you happen to have an example output file? If not I can see if I can run pizzly myself, but that will be at a later time.

You might be able to look at one of the other import functions (e.g. [ericscript](https://github.com/stianlagstad/chimeraviz/blob/master/R/import_ericscript.R) or [defuse

[2018-07-30 23:53] MrsLaviniaG commented on #47
Thanks for looking at my issue.  Yes, that is the correct link.  The vanilla output from pizzly is either a FASTA file of the fusion sequences (filtered and unfiltered), a JSON file, or a TSV of the genes with the breakpoints indicated relative to the transcript, e.g.

geneA.name      geneA.id        geneB.name      geneB.id        paircount       splitcount      transcripts.list

IL32    ENSG0000

[2018-08-02 01:11] MrsLaviniaG commented on #47
Hi Stian,
I am interested in two fusion callers, oncofuse and pizzly.  I have modified import_defuse.R to import oncofuse information.  The fusion information is read into R, but the fusion properties are not quite right (e.g. get_fusion_by_id fails with "Error in FUN(X[[i]], ...) :
  trying to get slot "id" from an object of a basic class ("NULL") with no slots"), although the imported data looks

[2018-08-11 18:58] stianlagstad commented on #47
I just tried your import function and it looks like it's working as expected on my end :) Here's an example:
[code]
Take a look at https://github.com/stianlagstad/chimeraviz/pull/48/files (it's just your code with a simple test).

[2018-09-04 09:27] sraorao commented on #46
Hi @ahdee and @stianlagstad, I encountered the same problem, and fyi I think the problem is with the ensembl ids as generated by STAR-Fusion which includes the version numbers (following the period). Stripping the version number manually seems to work.

[2018-09-04 11:05] stianlagstad commented on #46
Thank you very much, @sraorao!:) @ahdee please let us know whether this works for you. If it does, I can modify the import function for STAR-Fusion to strip the version number.

[2018-09-16 13:27] stianlagstad commented on #43
Moving from readr to using data.table in https://github.com/stianlagstad/chimeraviz/commit/bd3f6fd2f7bf40e9fddbfa25fc25bb9384136095

The https://travis-ci.org/stianlagstad/chimeraviz/builds/429227218 build should go green. Will close this PR then.

[2018-09-16 14:27] stianlagstad commented on #43
OK for devel. Will do the same changes for release.

[2018-09-16 14:27] #43 closed, assigned to nobody

[2018-10-03 03:20] MrsLaviniaG commented on #47
Apologies for the very slow reply, thanks so much Stian, this is great!

[2018-10-04 18:15] stianlagstad commented on #47
No worries @MrsLaviniaG ! I cleaned up https://github.com/stianlagstad/chimeraviz/pull/48 a bit to remove the network calls. I think users could rather add that code themselves to populate the Fusion objects with the ensembl ids. I'll merge it once the travis build passes, and then I'll close this issue.

[2018-10-05 16:00] stianlagstad commented on #47
Build passed and PR merged in. Thanks again @MrsLaviniaG !

[2018-10-05 16:00] #47 closed, assigned to nobody

[2018-10-26 17:44] ahdee commented on #46
Yes it works!  Had to manually delete the ENS...\\.+

[2018-10-28 12:23] stianlagstad commented on #46
Thank you very much, @ahdee and @sraorao. I've fixed the parsing of the Starfusion ensembl id, but unfortunately not in time to update the Bioconductor 3.7 release. You can however get the fix by cloning the  3.7 branch from GitHub: https://github.com/stianlagstad/chimeraviz/tree/RELEASE_3_7.

The fix will be present in the upcoming 3.8 release :)

3.7 fix: https://github.com/stianlagstad/chimerav

[2018-10-28 12:23] #46 closed, assigned to nobody

[2018-11-15 16:03] fmarois opened #51 "plotFusion or plotFusionTranscriptWithProteinDomain without providing bam file fails to plot"
Hello,
Here is the issue i am facing:
when I try to "plotFusion" or "plotFusionTranscriptWithProteinDomain" without providing a bam file I get an error.
Here is the reproducible code and the error:
`
if(!exists("defuse833ke"))
  defuse833ke <- system.file(
    "extdata",
    "defuse_833ke_results.filtered.tsv",
    package = "chimeraviz")

fusions <- importDefuse(defuse833ke, "hg19", 1)

fusion <-

[2018-11-25 13:29] stianlagstad commented on #51
Hi @fmarois. Thank you for your interest in chimeraviz :) While in some functions the bam/bedfile is optional, it is a requried parameter for `plot_fusion` and for `plot_fusion_transcript_with_protein_domain`.

[2018-12-06 20:08] #51 closed, assigned to nobody

[2019-01-17 16:29] fmarois opened #52 "plot_circle line width not assigned to right fusion"
Hello,
I noticed that the line width in the plot_circle function do not correspond to the reads. If you look at your own example using

`soapfuse833ke <- system.file(
    "extdata",
    "soapfuse_833ke_final.Fusion.specific.for.genes",
    package = "chimeraviz")
fusions <- import_soapfuse(soapfuse833ke, "hg38", 10)`

You will notice that the link which should be the widest is the one between gene

[2019-01-17 19:53] stianlagstad commented on #52
Hey @fmarois,

Super nice catch! I've implemented your change here: https://github.com/stianlagstad/chimeraviz/pull/53. Do you mind taking a look?

[2019-01-19 13:06] stianlagstad commented on #52
Fixed in release_3_8 in version 1.8.1. Fixed in master/dev in version 1.9.1. Thanks again @fmarois!

[2019-01-19 13:06] #52 closed, assigned to nobody

[2019-02-08 17:22] komalsrathi commented on #24
Hi Stian - any updates on this?

[2019-02-09 11:58] stianlagstad commented on #24
Hey @komalsrathi , no updates from my end. Do you have an example output file from STAR-fusion where the `--denovo_reconstruct` parameter was used? Then I can create a new PR where I add it.

[2019-02-11 18:57] komalsrathi commented on #24
Hi Stian - Here are the drive links for the output file from STAR-fusion:

https://drive.google.com/open?id=1XSLJV4EscC77P1z_Pt7f84IG2Dyj2wWv

I am actually interested in looking at the read first fusion: RP11-9L18.2--FLI1.

[2019-02-15 22:23] stianlagstad commented on #24
@komalsrathi Please take a look at https://github.com/stianlagstad/chimeraviz/pull/56

[2019-02-16 17:41] stianlagstad opened #57 "Feature request: Ability to control y axis limits (ylim) for the gene partners separately"
As requested by Jakob here: https://github.com/stianlagstad/chimeraviz/issues/42

This feature request is for the plot_fusion and plot_transcripts plots.

[2019-02-16 17:42] stianlagstad commented on #42
Hey @JakobHakon, sorry for not answering this. @plijnzaad's answer is correct for your first question. I've recorded your second question as a feature request: https://github.com/stianlagstad/chimeraviz/issues/57. As for the third, please open a new issue if that plot is something that would be useful for you, and I'll add it.

[2019-02-16 17:42] #42 closed, assigned to nobody

[2019-02-22 03:59] csijcs opened #59 "Coverage not plotted with plot_fusion()"
Love the program. I know this issue was brought up before (almost 1 year ago), but I don't see if there is a solution yet. I can make the fusion plot just fine, but there is no coverage shown. I am using STAR-fusion 1.4.0. to call fusions, and running R 3.5.2 on a Mac OS Mojave 10.14.2. I know you said previously that the tool does not yet support it, but I was hoping that by now it would. Can you

[2019-02-22 04:11] csijcs commented on #59
Sorry, I should also mention that this is the command I am running:
[code]
And the output of the parameters:
[code]

[code]

[code]

[2019-02-22 13:13] stianlagstad commented on #59
Hey @csijcs! Are you referring to this issue? https://github.com/stianlagstad/chimeraviz/issues/10

[2019-02-22 13:16] csijcs commented on #59
Yes. Sorry, wasn't sure if it was better start a new issue or comment on an old one.  Still seems to be an issue i think?

[2019-02-22 13:18] stianlagstad commented on #59
Thanks for the quick response! Yes, the issue is still there. Knowing that a user is waiting for a fix is great motivation to look closer at it, so I'll try to do that. I don't have an estimate for when that will be though.

[2019-02-22 14:11] csijcs commented on #59
Ok, thanks for the info. I'll be looking forward to it.

[2019-03-05 15:14] matq007 opened #60 "Incorrect naming for reads in Ericscript"
Hi, I was going through your code for importing `ericscript` output and I think you may be naming the counts wrongly.

In the ericscript documentation it is stated:

crossingreads | the number of paired end discordant reads.
-- | --
spanningreads | the number of paired end reads spanning the junction.

In your code, you are defining the variables like this:

[code]

Shouldn't it be reversed? I und

[2019-03-12 23:14] ahdee opened #61 "Plotting with no bam file?"
Hi I'm wondering if it is possible to plot without a bam file?  So I ran fusioncatcher and one of the fusions I'm interested is this.

[code]

I only have a bamfile generated previously from a STAR alingment.  So I'm wondering since I don't care about coverage can I  just have a plot drawn without the bamfile?  When I tried to run it with the STAR bam file,

[code]

I get an error,
[code]
Also if

[2019-03-17 10:16] stianlagstad commented on #60
I think you are absolutely right!:) Thanks for spotting this! I'll fix it now.

[2019-03-17 10:22] stianlagstad commented on #60
Fixed in release 3_8 here: https://github.com/stianlagstad/chimeraviz/commit/c77bbec12f3937d5abe4083a6a7b84121006d55c
Fixed in master here: https://github.com/stianlagstad/chimeraviz/commit/a7fe15007a383ad01480ed2c2e6785c01babfaef

Thanks again!

[2019-03-17 10:22] #60 closed, assigned to nobody

[2019-03-17 10:26] stianlagstad commented on #61
Hi,

Several of the plots can be plotted without coverage information. Take a look at the [package vignette](https://bioconductor.org/packages/release/bioc/vignettes/chimeraviz/inst/doc/chimeraviz-vignette.html#overview-plot) and look at the methods called without bamfiles there.

Are you able to share the fusion result file and the bamfile you used when you got that error? Then I can look into it

[2019-03-17 10:36] stianlagstad commented on #10
Turns out that this was just due to me using the wrong file.

Fixed in master in https://github.com/stianlagstad/chimeraviz/commit/6a7a11389e9abb1ca33ba3efc5b11c1f6448f1b5
Fixed in release in https://github.com/stianlagstad/chimeraviz/commit/11e083e1b3495122523160212766aa914abd34f6

[2019-03-17 10:36] #10 closed, assigned to nobody

[2019-03-17 10:37] stianlagstad commented on #59
Hi @csijcs,

It turns out that https://github.com/stianlagstad/chimeraviz/issues/10 was just due to me using the wrong file in a couple of method-calls in the vignette. So I think that the issue you're seeing is something else. Would you be able to share the files you're using? Then I can look into it.

[2019-03-17 10:49] stianlagstad opened #62 "data.table warning in vignette"
The [package vignette](https://bioconductor.org/packages/release/bioc/vignettes/chimeraviz/inst/doc/chimeraviz-vignette.html) has a few warnings as a result of the `plot_fusion_transcript_with_protein_domain`-call:

[code]

Figure out what's wrong and fix it.

[2019-03-17 11:00] stianlagstad commented on #62
I think https://github.com/stianlagstad/chimeraviz/commit/603889b76d0c538fbcca771b9581db4b81f3378c should solve it. Will keep the issue open until Bioconductor has rebuilt the vignette and I can verify that the warnings are gone.

[2019-03-17 11:02] stianlagstad commented on #62
Note to self: Since you did that in the master branch, remember to verify that the warning is gone in the development version's vignette, not the release version. Check it here: https://bioconductor.org/packages/devel/bioc/vignettes/chimeraviz/inst/doc/chimeraviz-vignette.html. When verified, do the same change for the release_3_8 branch.

[2019-03-18 18:05] ahdee commented on #61
@stianlagstad yes thank you I'm aware of the other functions like the circos plots but what is really want are the plot generated by plot_fusion with the nice chromosome annotations on top.  Here is an example from fusion_catcher that has issues, both fusions do not work using hg19. https://www.dropbox.com/s/jrokxtwmhxy85ra/test-final-list_candidate-fusion-genes.txt?dl=1

It would be great if I ca

[2019-03-19 19:38] stianlagstad commented on #62
Looks like that solved it, since the warning is gone from the [devel vignette](https://bioconductor.org/packages/devel/bioc/vignettes/chimeraviz/inst/doc/chimeraviz-vignette.html#fusion-transcript-plot-with-protein-domain-annotations). I'll go ahead and make the same change in the release_3_8 branch.

[2019-03-19 19:56] stianlagstad commented on #62
That should do it!

[2019-03-19 19:56] #62 closed, assigned to nobody

[2019-03-19 20:37] stianlagstad commented on #61
Thanks @ahdee! Would you be able to share the bamfile that you used as well?

I think that a plot with the chromosome ideograms and transcripts (= plot_fusion without the coverage data) is a good idea, so I'll definitely add that :)

[2019-03-19 23:20] ahdee commented on #61
@stianlagstad great thanks the ideograms & transcripts without coverage would be an awesome addition since often, at least for me, I just need to plot out the fusion.  Hmm the bamfile is quite large.  Let me think about how to perhaps curve out just the genes of interest, however again this was just complete with a simple STAR alignment and will probably not contain any of the fusion junction read

[2019-03-22 21:37] stianlagstad commented on #61
The changes have been made. In version 1.8.5 (when built by Bioconductor - you can see the current version is still 1.8.4 [here](https://bioconductor.org/packages/release/bioc/html/chimeraviz.html)) of chimeraviz you'll be able to call plot_fusion without both bamfile and bedgraphfile :) I'll leave the issue open until you've verified that it works alright.

[2019-04-01 22:32] BenoitFiset opened #66 "Trying examples in vignette"
Hi,

  trying out the examples in: http://www.bioconductor.org/packages/release/bioc/vignettes/chimeraviz/inst/doc/chimeraviz-vignette.html

And when I get to the example at 4.2 The fusion report, the output.html file never generates...

[code]
No file in the getwd() directory....

Also tried the example in https://www.bioconductor.org/packages/devel/bioc/manuals/chimeraviz/man/chimeraviz.pdf

[co

[2019-04-02 19:31] stianlagstad commented on #66
Hi @BenoitFiset !

I just tried it on my own computer, and here it worked as expected. Could you try to specify the full file path for the output file? Like this: `create_fusion_report(fusions, "/home/stian/output.html")`.

[2019-04-02 19:38] BenoitFiset commented on #66
Hi Stian,

 Yep that did the trick. Full path created the file. My setwd() is the same as the full path ...

Even this doesn't generate the file
[code]

Putting the full path, as suggested, was the only way to get it to work and get the report.

Thanks for the help,

B.

[2019-04-02 19:42] stianlagstad commented on #66
Glad you got it working. I'll keep the issue open to remind me to make a change so that getwd() is used instead :)

[2019-04-03 23:21] ahdee commented on #61
@stianlagstad great thanks.  Sorry I have not seen this until today.  I will check it out tomorrow!

[2019-04-04 00:23] ahdee commented on #61
@stianlagstad just checked it and it works great! thank you.  Any chance to add the Cytogenetic location on top of the ideogram?

[2019-04-05 13:44] stianlagstad commented on #61
@ahdee Glad it works! Could you open a new issue for that? I'll close this one.

[2019-04-05 13:44] #61 closed, assigned to nobody

[2019-05-01 22:40] ahdee opened #67 "Question: what are the red bands on the chromosome?"
Sorry silly question but what are the red bands on the chromosome shown here,
![cF443qJ 1](https://user-images.githubusercontent.com/9808122/57048038-670de900-6c27-11e9-8bfe-bd6cffee9c20.png)

[2019-05-06 18:32] stianlagstad commented on #67
That's  a very good question! And I really don't know. chimeraviz use these files with cytoband information:
1. https://github.com/stianlagstad/chimeraviz/blob/master/inst/extdata/UCSC.HG19.Human.CytoBandIdeogram.txt, downloaded from http://hgdownload.cse.ucsc.edu/goldenpath/hg19/database/
2. https://github.com/stianlagstad/chimeraviz/blob/master/inst/extdata/UCSC.HG38.Human.CytoBandIdeogram.txt,

[2019-05-06 19:30] ahdee commented on #67
Thanks! that file you sent was super helpful.  I think its the "stalk" because searching through each one there are only a few chromosome that has it ( Acrocentric chromosomes)  and they are according to this cite on the short arm.  I've tested on random example with the chr that has the stalk and as you can see it seems to match.
![3izEFFn 1](https://user-images.githubusercontent.com/9808122/5724

[2019-05-07 20:14] stianlagstad commented on #67
I'm glad the file was helpful. I'll assume the question is answered then and close this issue.

[2019-05-07 20:14] #67 closed, assigned to nobody

[2019-05-07 21:04] ahdee commented on #67
@stianlagstad thanks again!

[2019-07-04 22:15] Ax3man opened #68 "Assignment to global environment"
This is just as an FYI. You are currently exporting the rather odd `RCircos.Env` object to the gobal environment to make your package work: https://github.com/stianlagstad/chimeraviz/blob/master/R/plot_circle.R#L249.

This is not particularly nice, since users now have this floating around their global envir, and it makes R CMD give you a NOTE. Here's a StackOverflow question with a simple alterna

[2019-07-06 11:19] stianlagstad commented on #68
Hi @Ax3man, thanks for the tip! The solution you posted in that stackoverflow-thread seems like a better way of doing it. I'll leave this issue open, and I'll get back to it when the right motivation finds me.

[2019-08-22 12:18] xizhihui commented on #66
Hi, it only works when the output is "/path/to/output.html", even `file.path(getwd(), "output.html")` does not work ( may be it takes a long time to generate report ? ) in R3.6 chimeraviz 1.10.0
@stianlagstad Have you forgotten to fix it ?

[2019-09-04 15:38] stianlagstad commented on #66
This issue is still open, so the status is the same @xizhihui. If you wish to submit a pull requests for fixing this I'd be happy to review it :)

[2020-01-24 21:43] ziadbakouny18 opened #71 "plot_fusion function not finding "SPFQ" or "CADM2" transcripts in an edb object that has them."
Hey Stian,

Below is a description of the issue I am getting.
I am using your suggested numbered list of items to include but starting with the code (4):

4) This is the code and data that are causing the error
[tcga_annot_soapfuse_format.txt](https://github.com/stianlagstad/chimeraviz/files/4112483/tcga_annot_soapfuse_format.txt)

fusions<-import_soapfuse("https://github.com/stianlagstad/chimerav

[2020-01-26 04:37] ziadbakouny18 opened #72 "Why is it impossible to use plot_fusion_transcript_with_protein_domain without a BAM file?"
Hello Stian,

I am trying to run your plot_fusion_transcript_with_protein_domain without a BAM file but I am getting an error.
These are the code and data I am using:

4) edb <- EnsDb.Hsapiens.v86
fusions<- import_soapfuse([tcga_annot_soapfuse_format_unique.txt](https://github.com/stianlagstad/chimeraviz/files/4113152/tcga_annot_soapfuse_format_unique.txt), "hg38")

plot_fusion_transcript_with_pro

[2020-02-03 21:04] stianlagstad commented on #71
Hi @ziadbakouny18 ! Thank you for the report. This uncovered a big in the chimeraviz code, which caused only some ensembl gene identifiers to be used. It has been fixed (master will be fixed in chimeraviz version 1.13.1: https://github.com/stianlagstad/chimeraviz/commit/2d3985d28bebd9089cccbcd371f32709db155295, release 3.10 will be fixed in chimeraviz version 1.12.1: https://github.com/stianlagsta

[2020-02-21 12:06] #24 closed, assigned to nobody

[2020-02-21 12:18] stianlagstad commented on #71
Closing this as I'm confident the specific issue was fixed. Please comment again if you get the chance to test the fix.

[2020-02-21 12:18] #71 closed, assigned to nobody

[2020-02-22 13:09] stianlagstad commented on #72
Thanks again @ziadbakouny18 ! This should be fixed in the release version 1.12.2 and the devel version 1.13.1 - as soon as BioConductor builds the new versions. Please verify that it works as you expect.

[2020-02-22 13:09] #72 closed, assigned to nobody

[2020-02-22 16:29] stianlagstad opened #74 "Support ChimPipe"
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5209911/
https://github.com/Chimera-tools/ChimPipe

The output of ChimPipe is described here: https://chimpipe.readthedocs.io/en/latest/manual.html#output

[2020-03-02 12:14] DanieleDallOlio opened #75 "coverage issue in plot_fusion_separate"
Hi there,
I am trying to use plot_fusion but I am not able to produce the plot with coverage data (I do not get an Error, I just do not get the coverage subplot). I looked into your code and I think I found an explanation at lines 617, 679, 743 in plot_fusion.R and they all involve ' exists("al_track") ' .
Is not supposed to be ' exists("alignment_track") ' instead of ' exists("al_track") ' ?

It

[2020-03-02 12:43] stianlagstad commented on #75
Thank you @DanieleDallOlio ! :)

I've made the required changes in the devel version 1.13.3 (commit https://github.com/stianlagstad/chimeraviz/commit/149bf55d27cf3234a99cebe771c24f08ab88e5d6), and the release version 1.12.3 (commit https://github.com/stianlagstad/chimeraviz/commit/18940b3370c84951e069a1be5b980522cc55d120).

Please let me know if this solves the issue on your end.

[2020-03-02 12:43] #75 closed, assigned to nobody

[2020-03-02 12:44] stianlagstad commented on #59
I believe the fix for #75 solves this one as well. Please comment again if that's not the case.

[2020-03-02 12:44] #59 closed, assigned to nobody

[2020-03-02 16:07] DanieleDallOlio commented on #75
Yes, it works now.
Thanks a lot !!

[2020-03-12 10:22] stianlagstad commented on #74
Fixed by #77

[2020-03-12 10:22] #74 closed, assigned to nobody

[2020-03-12 13:48] stianlagstad commented on #66
The default behaviour will be changed from version 1.13.5 onward. The report will then be created in the current working directory.

[2020-03-12 13:48] #66 closed, assigned to nobody

[2020-04-15 17:28] cetienn01 opened #82 "How to make fusioncatcher data compatible to chimeraviz"
Hello,

I am trying to visualize GeneFusion data from FusionCatcher, however, it seems that my data is in a different format from what the Chemiaviz package use. I looked at the sample data included with the turtorial and it is different.
Is there some preliminary steps involved to make the data compatible, to make it look the same as the data in the turorial.

Thank you for your interest in chime

[2020-04-15 18:15] cetienn01 commented on #82
Actually, from looking at the data that is available with the Chimeraviz package, i realized that my gene fusion data from FusionCatcher was already in the same format. So i did a bulk import of all the GeneFusions data. I will close this issue now.

[2020-04-15 18:15] #82 closed, assigned to nobody

[2020-04-18 14:14] stianlagstad commented on #82
Hi @cetienn01 ! Do let me know if you have any further issues :)

[2020-04-18 16:08] cetienn01 commented on #82
Thank you @stianlagstad .
Another thing i've noticed is that, it's not quite straightforward how to modify the gene fusions plot using the `plot_circle(fusions)` function. I can see that this function is using the **RCircos package**, which has many more features, but the plot function only takes one argument (the fusion_list). Maybe I'll open a new issue to discuss this question and see how to ac

[2020-04-21 18:02] stianlagstad commented on #82
Good idea! Please do open another issue if you have anything specific in the underlying libraries that you wish you'd be able to control through chimeraviz.

[2020-04-25 18:09] ahdee opened #83 "Chromosome not labeled correctly?"
Hi,
I'm using version chimeraviz_1.13.8.
There is strange error I'm getting whereby the labeling of the chromosomes are not labeled correctly?

For example here is a fusion
[code]

so here it should be labled as chr5 and 11 however ths is what I get instead when I try to plot it.

[code]

attached is an rds for the draw.this object I used to plot.
https://www.dropbox.com/s/ihuyz57oz9sx2oq/test.rds

[2020-04-25 19:13] stianlagstad commented on #83
Hi @ahdee! Thank you for the report. Are you able to share the starfusion results file that you have imported? Then I can see if I can reproduce the error.

[2020-04-25 20:40] ahdee commented on #83
@stianlagstad  sure thing, thanks! This is a file run with starfusion, however I tried it with soap, eric  and both give the same strange incorrect annotations!
https://www.dropbox.com/s/vkc8l5gai4uqayh/rhog.tsv?dl=1

[2020-04-25 22:17] ahdee commented on #32
Hi I'm still a bit confuse about this. So for example I have a bed file that I got from ucsc as such,

`chr11 | 114242180 | 114242249 | zinc finger           |  1000 | +  | 114242180 | 114242249 | 100,100,0   |   1 | 69                                                                                           | 0

[2020-04-26 09:00] stianlagstad commented on #83
Thank you very much @ahdee ! I located the issue and am fixing it here: https://github.com/stianlagstad/chimeraviz/pull/84. The fix will be included in version 1.13.9 of chimeraviz.

[2020-04-26 09:50] #83 closed, assigned to nobody

[2020-04-27 15:41] ahdee commented on #83
awesome thank you @stianlagstad !

[2020-05-30 09:35] stianlagstad opened #85 "Support Fusion-Bloom"
Ref https://github.com/bcgsc/pavfinder/issues/6.

[2020-08-31 19:07] stianlagstad opened #86 "Travis build fails"
After [a recent change in the readme](https://github.com/stianlagstad/chimeraviz/commit/ae7d22f56afd33cc7407a0bc7ffc9e7078744d6b), the [Travis build started failing](https://travis-ci.org/github/stianlagstad/chimeraviz/builds/722836095). I believe this is connected to: <https://travis-ci.community/t/in-r-version-4-0-0-library-path-not-writable/9744/9>.

[2021-01-16 14:10] ivanbelzen opened #87 "plot_fusion_transcript_with_protein_domain(): error plotting upstream domains"
Hi!

Thanks for the convenient package to visualize gene fusions!
I've come across an error whilst trying to visualize protein domains. The downstream gene seems to work fine but for the upstream gene only lines with start coordinates as label are displayed instead of proper protein domain blocks.

Looking at the code of plot_fusion_transcript_with_protein_domain.R  it is quite easily seen where t

[2021-01-16 17:09] stianlagstad commented on #87
Thanks @ivanbelzen ! Like this? https://github.com/stianlagstad/chimeraviz/pull/88

[2021-01-16 22:09] #87 closed, assigned to nobody

[2021-01-16 22:12] stianlagstad commented on #87
Thanks again. The change will be available in v1.16.1 in release_12, and v1.17.1 in devel.

[2021-02-20 21:22] ashishyeri opened #89 "Failed to create reference fasta file"
Hi,
I'm not able to create the reference fasta file to get a bam file for my fusion. I'm using STAR-fusion on a Linux operating system. The error I get is "Error in write_fusion_reference(fusion = a[[2]], filename = referenceFilename) :
  The fusion sequence length is zero, so the fusion reference sequence cannot be written."

My fusion is stored in a[[2]]. I'm not able to figure out where its try

[2021-02-20 21:22] ashishyeri commented on #89
R version 3.6.0 (2019-04-26)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Ubuntu 18.04.5 LTS

Matrix products: default
BLAS:   /usr/local/lib/R/lib/libRblas.so
LAPACK: /usr/local/lib/R/lib/libRlapack.so

locale:
 [1] LC_CTYPE=C.UTF-8       LC_NUMERIC=C           LC_TIME=C.UTF-8        LC_COLLATE=C.UTF-8     LC_MONETARY=C.UTF-8    LC_MESSAGES=C.UTF-8
 [7] LC_PAPER=C.UTF-8       LC_NAME=C

[2021-02-21 15:48] stianlagstad commented on #89
Hi @ashishyeri! As far as I understand it, STAR-fusion does not include the fusion sequence in the result file by default, but:

(that's from [here](https://github.com/stianlagstad/chimeraviz/pull/23). See also: https://github.com/stianlagstad/chimeraviz/issues/24)

So, if you run a newer STAR-fusion version with the `--denovo_reconstruct` argument, the fusion sequence should be included and chime

[2021-02-21 15:52] ashishyeri commented on #89
Hi @stianlagstad,
Thank you very much for your reply. I suspected this was the issue. I'm running star-fusion with the fusion-inspector and will report back soon. Thanks again!

Regards,

Ashish

[2021-04-29 07:48] stianlagstad commented on #89
Hi @ashishyeri ! I'll close this, but feel free to open again if you still see this issue.

[2021-04-29 07:48] #89 closed, assigned to nobody

[2021-07-02 18:11] DadongZ opened #92 "How to input STAR-SEQR output?"
We are using [STAR-SEQR](https://github.com/ExpressionAnalysis/STAR-SEQR) for fusion detection and I am trying to visualize the data using chimeraviz. Is there a good way to input the STAR-SEQR's output? Below is some information about the data and sessionInfo():

[code]
[code]

[2021-07-14 12:57] stianlagstad commented on #92
Hi @DadongZ ! Thank you for posting. chimeraviz doesn't support https://github.com/ExpressionAnalysis/STAR-SEQR out of the box, and I'm not likely to have enough time to implement support for it in the near future. If you're somewhat familiar with R, it should be possible for you to implement your own import-function (see https://github.com/stianlagstad/chimeraviz/blob/master/R/import_starfusion.R

[2021-07-27 11:39] mattheiter opened #93 "Dependency on deprecated ArgumentCheck CRAN package"
ArgumentCheck has been deprecated, which means that chimeraviz cannot be installed using BiocManager anymore:

https://cran.rstudio.com/web/packages/ArgumentCheck/index.html

Migration instructions are available here: https://github.com/cran/ArgumentCheck

[2021-07-27 12:18] stianlagstad commented on #93
Thanks for the notification, @matdoering ! The author of ArgumentCheck was kind enough to [notify me about this here](https://github.com/stianlagstad/chimeraviz/pull/90), and I changed chimeraviz to use another package as a replacement [here](https://github.com/stianlagstad/chimeraviz/pull/91). Version 1.17.2 of chimeraviz (and newer) is using checkmate instead of argumentcheck.

Which version of

[2022-03-04 05:47] yubau1112 opened #94 "2 question with chimeraviz"
My R Command:

[code]

I got results Info:

[code]

Although I have got the figure, but I have 2 question:

**question1:**

Error in h(simpleError(msg, call)) :
  在為 'isEmpty' 函式選擇方法時評估 'x' 引數發生錯誤: trying to get slot "gene_upstream" from an object of a basic class ("list") with no slots

How to solve that?

**question2:**

I have 300 fusions, I want all fusion plot into figure, but
It's said "Not

[2022-03-06 12:12] stianlagstad commented on #94
Hi @yubau1112 ! Thanks for posting here. This is difficult for me to figure out without the data in question. Are you able to share the file `star-fusion.fusion_candidates.final.abridged.txt`, so that i can try to reproduce the error on my end?

[2022-03-07 00:40] yubau1112 commented on #94
Hi, thanks for your reply.

When you install chimeraviz, `star-fusion.fusion_candidates.final.abridged.txt` this file was automatically downloaded into
`C:\Users\yu_ba\Documents\R\win-library\4.1\chimeraviz\extdata` by it's self, that is provide from chimeraviz not my data.

I also upload the file here.
[star-fusion.fusion_candidates.final.abridged.txt](https://github.com/stianlagstad/chimeraviz/f

[2022-03-25 11:44] stianlagstad commented on #94
Thanks @yubau1112 ! :)

## Question 1
The problem with this:

[code]

Is that you're passing a list (`fusions`) as the first argument. This function expects a single fusion object. Try this instead:

[code]

That will give you another error, since you don't provie an `edb` object. Please see section 3.3.1.2 2. "Create an ensembldb object" from the package vignette for more information on that: htt

[2022-03-25 11:44] #94 closed, assigned to nobody

[2022-05-15 17:28] #93 closed, assigned to nobody

[2022-10-21 13:31] Zhuxitong opened #95 "Custom genomes"
Hi, @stianlagstad !

I would like to know if there is a way to make a custom genome database, such as plant genomes, and then feed to _import_jaffa_ with a new parameter?

I saw you have added mm10 since initial human genome. I thought with genome/transcript fasta and corresponding gff annotation file, we can make a database for any species.

It would also be great if you can provide me some sugge

[2022-10-24 11:48] stianlagstad commented on #95
Hi @Zhuxitong, thanks for your interest in chimeraviz :pray:

Currently chimeraviz is hardcoded to only allow hg19 and mm10, as you've seen. You can see this here:
- plot_circle: https://github.com/stianlagstad/chimeraviz/blob/d94dda939cf65e36760488209558fe70068db7d5/R/plot_circle.R#L182
- plot_fusion: https://github.com/stianlagstad/chimeraviz/blob/d94dda939cf65e36760488209558fe70068db7d5/R/plot_

[2022-10-29 03:38] Zhuxitong commented on #95
Hi, @stianlagstad,

Thanks for your suggestions in great details. During last week, I tried to modify those source codes, but I could only make get_circle working by creating a fake band file and modifying the codes you referred. I failed to run other functions mainly beacuse of the lack of ensembl db file. I also tried to make a custom db file, but couldn't find an easy way. I think there should